.Course-Offerings{
        padding: 10vh;
}
.Course{
    overflow: hidden;
    background-color: #285733;
    display: inline-block ;
    width: 30vh;
    height: 40vh;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25), 0px 2px 5px 0px rgba(0,0,0,0.25), 0px 2px 5px 0px rgba(0,0,0,0.25);
    border: 1px solid #222;
    box-sizing: border-box;
    padding: 10vh;
   border-radius: 2vh;
   float: left;
   margin-right: 2em;
   margin-left: auto;
   margin-top: 2em;
   justify-content: space-between;
   flex-direction: column;
   display: flex;
}
.Course-Name{
    text-align: left;
    font-size: 2vh;
    padding:1vh;
    margin: auto;
}
.Course-Number-1{
    background-color:  #998AD3;
}
.Course-Number-2{
    background-color:  #E494D3;
}
.Course-Number-3{
    background-color:  #CDF1AF;
}
.Course-Number-4{
    background-color:  #87DCC0;
}
.Course-Number-5{
    background-color:  #88BBE4;
}
.Course-Number-6{
    background-color:  #B7C68B;
}
.Course-Button{
    justify-content: flex-end;
    display: flex;
}
.shrink { 
    transition: all .305s ease-in-out; 
    }
    
    .shrink:hover { 
    transform: scale(0.9); 
    }
    .limit{
        word-wrap: normal;
    }