﻿/* Background color */
body {
  background-color: black;
}

/* Body CSS */
#main {
  width: 95%;
  max-width: 100%;
  margin: auto;
  padding: 10px;
  background-color: slategray;
  border-style: hidden hidden solid solid;
  border-color: orange;
  border-radius: 10px;
}

header {
  margin: auto;
  padding: 10px;
  color: black;
  background: linear-gradient(-80deg, dodgerblue, powderblue, ghostwhite, white, white, ghostwhite, powderblue, powderblue, dodgerblue);
  clear: right;
  text-align: center;
  border-style: solid solid hidden solid;
}

footer {
  color: white;
  background-color: #333;
  clear: right;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid black;
}


/* Navbar CSS start */
div.container {
  border-style: hidden solid solid solid;
}

.container {
  overflow: hidden;
  background-color: #333;
  font-family: arial, sans-serif;
}

.container a, .container a:visited {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #333;
}

.container a:hover, .dropdown:hover .dropbtn {
  background-color: dodgerblue;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px grey;
  z-index: 1;
}

.dropdown-content a, .dropdown-content a:visited {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: dodgerblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar CSS end */


/* Section Titles */
h3 {
  padding-left: 15px;
  color: black;
  border-radius: 10px;
  /*background-color: orange;*/
  /*text-decoration: underline;*/
}

/* Table CSS */
table {
  border-collapse: collapse;
  width: 95%;
  margin: 10px;
  border: 2px solid black;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  margin: 10px;
  font-family: arial, sans-serif;
}

td {
  color: black;
  background-color: white;
}

th {
  background-color: #333;
  color: orange;
}

/* Anchor CSS */

a {
  text-decoration: none;
}

a:visited  {
  color: rgb(0,104,204);
}

a:hover {
  color: orange;
}

p {
  padding-left: 25px;
  font-size: 20px;
  color: white;
}
